<html>
  <head>
    <% include ./partials/head %>
    <script src="js/teamApp.js"></script>
  </head>
  <body>
    <% include ./partials/nav %>
    <div class="container">

        <div class="page-header text-center">
            <h1><span class="fa fa-anchor"></span> Profile Page</h1>
            <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="well" ng-app="teamApp">
                  <h3><span class="fa fa-user"></span> Hi <%=user.local.email %>.</h3>
                  <% if (user.isScout) { %>
                    <!-- Load AngularJS app for scout. -->
                    <p>Welcome, Team Fractals scout.</p>
                    <p>Please record information on other teams below.</p>
                      <button name="see" ng-click="teamOpen = !teamOpen">See teams</button>
                      <button name="show" ng-click="formOpen = !formOpen">Add team</button>
                      <!-- Show teams -->
                      <div ng-init="teamOpen = false" ng-show="teamOpen" id="showteams">
                        <br>
                        <p>List of team information from our database:</p>
                        <% for (var i = 0; i < teams.length; i++) { %>
                            <div class = "well">
                              <h4><%= teams[i]['name'] %></h4>
                              <p>Rank: <%= teams[i]['rank']%></p>
                              <p>Manual Capabilities: <%= teams[i]['manualcapabilities'] %></p>
                              <p>Autonomous Capabilities: <%= teams[i]['autonomouscapabilities'] %></p>
                              <p>Autonomous Strategy: <%= teams[i]['autonomousstrategy'] %></p>
                              <p>End Game Strategy: <%= teams[i]['endgamestrategy'] %></p>
                              <button name="delete" style="float: left;">Delete</button>
                              <button name="edit" style="float: left;">Edit</button>
                            </div>
                        <% } %>
                      </div>
                        <!-- Add teams -->
                        <br><br>
                        <form ng-init="formOpen = false" ng-show="formOpen" action="/profile" method="post">
                            <div class="form-group">
                                <input type="text" class="form-control" name="teamname" placeholder="Team name...">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="rank" placeholder="Team rank...">
                            </div>
                            <div class="form-group">
                                <textarea name="manualcapabilities" rows="10" class="form-control" placeholder="Manual capabilities..."></textarea>
                            </div>
                            <div class="form-group">
                                <textarea name="autonomouscapabilities" rows="10" class="form-control" placeholder="Autonomous capabilities..."></textarea>
                            </div>
                            <div class="form-group">
                                <textarea name="autonomousstrategy" rows="10" class="form-control" placeholder="Autonomous Strategy(s)..."></textarea>
                            </div>
                            <div class="form-group">
                                <textarea name="endgamestrategy" rows="10" class="form-control" placeholder="End game strategies..."></textarea>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="avg" placeholder="Average points scored...">
                            </div>
                            <button type="submit" class="btn btn-default">Send</button>
                        </form>
                      </div>
                    <% } %>
                    <% if (!user.isScout && !user.isAdmin) { %>
                      <p>Welcome to your Team Fractals dashboard <%= user.local.email %>.
                        Here you will receive updates on Team Fractals activity as well as
                        an occasional poll.
                      </p>
                      <p>Note: This part of the website is currently under construction. Updates
                        and polls will be possible by February 15th of 2017.</p>
                    <% } %>
                    <% if (user.isAdmin) { %>
                      <p>Welcome team fractals admin.</p>
                      <div class="well">
                        <h3>Fan Mail</h3>
                        <ul>
                        <% for (var i = 0; i < contacts.length; i++) { %>
                          <li>
                            <hr>
                            <p><strong>From: </strong><%= contacts[i]["from"] %></p>
                            <p><strong>Subject: </strong><%= contacts[i]["subject"] %></p>
                            <p><strong>Message: </strong><%= contacts[i]["message"] %></p>
                          </li>
                          <button name="remove">Delete</button>
                        <% } %>
                        </ul>
                      </div>
                    <% } %>
                </div>
            </div>
            <% include ./partials/footer %>
        </div>
    </div>
  </body>
</html>
